@import url(global.css);

header{
    display: flex;
    justify-content: space-between;
    margin: 0px 100px 0px;
    align-items: center;
}




.nav-header{
    display: flex;
    align-items: center;
    gap: 54px;

}

.nav-header ul{
    display: flex;
    gap: 65px;
    list-style: none;
}

.nav-header a{
    text-decoration: none;
    color: #242323;
    
}

.nav-header button{
    background-color: var(--color-black);
    color: #FEFEFE;
    padding: 13px 22px 17px;
    border-radius: 7px;
    cursor: pointer;
}

.nav-header button:hover{
    background-color: #242323;
}